<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-secondary me-2" (click)="toggleSidebar()">Menu</button>
      <a class="navbar-brand mb-0 h1">Internet y Variedades Mile</a>
    </div>
    <div class="d-flex align-items-center">
      <!-- Estilo para el rol -->
      <span class="role-display me-3">{{ role }}</span>
      <button (click)="logout()" class="btn btn-danger">Cerrar Sesión</button>
    </div>
  </div>
</nav>
