<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <!-- Card centrada -->
  <div class="col-md-4 col-12">
    <div class="card shadow-sm rounded-4 border-light">
      <div class="card-header text-center bg-success text-white rounded-top">
        <h4 class="mb-0">Iniciar Sesión</h4>
        <h5 class="store-name">Internet y Variedades Mile</h5>
        <img src="tienda.png" alt="">
      </div>
      <div class="card-body">
        <form (ngSubmit)="IniciarSesion()">
          <div class="form-group mb-3">
            <label for="email">Correo Electrónico</label>
            <input
              type="email"
              id="email"
              class="form-control"
              name="email"
              [(ngModel)]="email"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label for="password">Contraseña</label>
            <input
              type="password"
              id="password"
              class="form-control"
              name="password"
              [(ngModel)]="password"
              required
            />
          </div>
          <button
            type="submit"
            class="btn btn-success btn-block w-100 mt-3 py-2"
            [disabled]="!email || !password"
          >
            Iniciar Sesión
          </button>

          <!-- Mensaje de error si lo hay -->
          <div *ngIf="errorMessage" class="text-danger mt-3">
            {{ errorMessage }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
