<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
  <div class="title">
    <h4>Productos Disponibles</h4>
    <form class="d-flex" (submit)="searchProducts()">
      <input class="form-control me-sm-2" [(ngModel)] ="searchTerm" name="search" type="search" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button type="button" class="btn btn-primary" routerLink="/add" >Crear Producto</button>
  </div>
    <br><br>
    <table *ngIf="listProducts.length > 0" class="table table-hover">
        <thead>
          <tr>
            <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre</font></font></th>
            <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Descripcion</font></font></th>
            <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Precio</font></font></th>
            <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Stock</font></font></th>
            <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listProducts" class="table-active">
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ item.name }}</font></font></td>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ item.description }}</font></font></td>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ item.price |  currency }}</font></font></td>

            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ item.stock }}</font></font></td>
            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>
              <button type="button" class="btn btn-info btn-sm ms-4"routerLink="/edit/{{ item.id }} " >Editar</button>
              <button (click)="deleteProduct(item.id!)" type="button" class="btn btn-danger btn-sm">Eliminar</button>
            </font></td>  
          </tr>
        </tbody>
      </table>
      <h5 *ngIf="listProducts.length == 0" >No hay Productos Para mostrar</h5>
</div>
