.sidenav-container {
  height: 100vh;
}

.content {
  padding: 20px;
}

.toggle-button {
  margin: 10px;
}

/* sidebar.component.css */
.sidenav-button {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alineación del texto y el ícono */
  padding: 10px 16px; /* Espaciado interno */
  color: #fff; /* Color del texto */
  background-color: #3f51b5; /* Color de fondo del botón */
  border-radius: 4px; /* Bordes redondeados */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  text-decoration: none; /* Sin subrayado */
}

.sidenav-button:hover {
  background-color: #303f9f; /* Color de fondo al pasar el mouse */
  transform: scale(1.05); /* Efecto de crecimiento */
}

.sidenav-button:active {
  background-color: #1e88e5; /* Color de fondo cuando se hace clic */
}
/* Ajusta el ancho de la barra lateral */
.sidenav-container mat-sidenav {
  width: 200px; /* Cambia a tu preferencia */
  max-width: 200px;
}

/* Estilo para las opciones del menú */
.sidenav-container mat-nav-list a.mat-list-item {
  color: #333; /* Color de texto por defecto */
  transition: background-color 0.3s, color 0.3s;
}

/* Color verde menta en hover */
.sidenav-container mat-nav-list a.mat-list-item:hover {
  background-color: #118911; /* Verde menta */
  color: #ffffff; /* Color del texto cuando esté sobre el fondo verde */
}

  